// Code
//
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Pygments/Rouge and Gist embeds.

code,
pre {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

code {
  font-size: 95%;
  color: #B72A6A;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: black;
  background-color: transparent;
}

// Pygments via Jekyll
.highlight {
  padding: 0.5rem;
  font-size: 9.5pt;
  line-height: 1.4;
  background-color: white;
  border-radius: .25rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    display: inline-block; // Ensures the null space also isn't selectable
    padding-right: .75rem;
    padding-left: .25rem;
    color: #999;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

@media (min-width: 56em) {
  .gist {
    margin: 15px 0 !important;
    -webkit-transition: margin 0.33s;
  }

  .gist:hover {
    margin: 15px -8.5em !important;
    -webkit-transition: margin 0.33s;
  }
}

.gist-file {
  border: none !important;
}

.gist-meta{
  display: none;
}

.gist-data{

  .pl-k {
    color: #B72A6A !important;
  }

  .pl-c1 {
    color: #1AA0CF !important;
  }

  // .pl-en {
  //   color: #72569D !important;
  // }

  padding: 4px 0px !important;
  border: 1px solid #DFDFDF !important;

  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
